.TodoInsert {
  display: flex;
  background: #a3b18a;
  input {
    background: none;
    outline: none;
    border: none;
    padding: 0.5rem;
    font-size: 1.125rem;
    font-family: 'GowunDodum-Regular';
    line-height: 1.5;
    color: #fff;
    &::placeholder {
      font-family: 'GowunDodum-Regular';
      color: #fff;
    }
    flex: 1;
  }
  button {
    background: none;
    outline: none;
    border: none;
    background: #dad7cd;
    color: #344e41;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.1s background ease-in;
    &:hover {
      background: #5b695b;
      color: #dad7cd;
    }
  }
}
